<h1><%= @place["name"] %> </h1>
<% if @current_user %>

    <div class="d-flex justify-content-between mb-3">
      <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Entry</a>
    </div>
 
<% for entry in @entries.each_slice(3) %>
  <div class="row mb-3">
    <% for sub_entry in entry %>
      <div class="col-md-4">
        <div class="entry-container">
          <h3><%= sub_entry["title"] %></h3>
          <h4><%= sub_entry["occurred_on"] %></h4>
          <% if sub_entry.uploaded_image.attached? %>
            <%# use url_for(sub_entry.uploaded_image) as attached file's url %>
            <img src="<%= url_for(sub_entry.uploaded_image) %>" class="img-fluid">
          <% else %>
            <%# otherwise display original image url from database column %>
            <img src="<%= sub_entry["image"] %>" class="img-fluid">
          <% end %>
          <h5><%= sub_entry["description"] %></h5>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<p>
  <a href="/places">Back to All Places</a>
</p>

<% end%>